.env
results/json/*
results/html/*
results/server-metrics/*
screenshots/*
!results/json/.gitkeep
!results/html/.gitkeep
!results/server-metrics/.gitkeep
!screenshots/.gitkeep
data/test-users.json
data/sample-image.jpg
